/Practica1/nbproject/private/
/Practica1/build/
/Tareas/T1_2/build/
/Tareas/T1_2/nbproject/private/
/Tareas/T1_3/nbproject/private/
/Primer parcial/Practicas/Practica1/build/
/T1_4/nbproject/private/
/Primer parcial/Tareas/T4_1/nbproject/private/
/Primer parcial/Tareas/T1_4/nbproject/private/
/Primer parcial/Tareas/T1_4/build/
/Primer parcial/Tareas/Carrito/nbproject/private/
/Primer parcial/Tareas/T1_3/build/
/Primer parcial/Tareas/Carrito-de-compras-comics/nbproject/private/
/Primer parcial/Tareas/Tienda-de-Comics/nbproject/private/
/Segundo Parcial/Ejercicios/Aplicacion multicast/nbproject/private/
/Segundo Parcial/Ejercicios/Aplicacion multicast/build/
/Segundo Parcial/Ejercicios/Multicast2/nbproject/private/